@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=B612:weight@400;700&display=swap');

$font-karla: "Karla", sans-serif;
$font-b612: "B612", sans-serif;
$primary-color: #3e6f9e;

body {
  font-family: $font-karla;
  background-color: #eee;

    .logo { 
        font-family: $font-b612 !important;
        font-weight: 700;
        font-size: 3.4rem;
        text-decoration: none;
    }
    .github { 
        text-decoration: none; 
        color: #2c2c2c;
    }

    .main-wrapper {
        max-width: 860px;
    }
}